<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webpack v5</title>
    <link
      rel="shortcut icon"
      href="./src/assets/images/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
    <div id="app">
      <header>
        <img src="./src/assets/images/webpack.png" class="logo" alt="logo" />
        <p>VanillaJS Webpack v5 Starter</p>
      </header>
    </div>
  </body>
</html>
